<%= form_with model: @business do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Name*' %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= error_for(@business, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :address, 'Address*' %>
    <%= f.text_field :address, class: 'form-control' %>
    <%= error_for(@business, :address) %>
  </div>

  <div class="form-group">
    <%= f.label :city, 'City*' %>
    <%= f.text_field :city, class: 'form-control' %>
    <%= error_for(@business, :city) %>
  </div>

  <% if @business.new_record? %>
    <%= f.submit "Register", class: "btn btn-primary", id: "register-business-button" %>
  <% else %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
<% end %>
