  <div class="col-md-6 col-md-offset-3" id="signup-form">
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
      <%= error_for(@user, :first_name) %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
      <%= error_for(@user, :last_name) %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= error_for(@user, :email) %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= error_for(@user, :password) %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= error_for(@user, :password_confirmation) %>

      <% if @user.persisted? %>
        <%= f.submit "Edit information", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>