<% provide(:title, "Items") %>

<h1>Listing items</h1>

<th><%= link_to "Add a new Item", new_item_path, class: "btn btn-primary" %></th><br><br>

<% if @items.empty? %>
  <p>Your Business currently has no Items.</p>
<% else %>
  <table class="table table-hover item-list">
    <tr>
      <th>#</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>OPTIONS</th>
    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td>
          <%= link_to "Edit", edit_item_path(item), class: "btn btn-default" %>
          <%= link_to "Delete", item_path(item), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
